//===============================================================================
// CHANNEL-LIST
//===============================================================================
// <ul class="channels-list">
//   <li class="channel-item">
//     <img src="" class="channel-img">
//     <span class="channel-name">BBC one</span>
//     <span class="current-program">Formula 1</span>
//   </li>
// </ul>

.onboarding{
  padding: 0 $gutter;
  margin: 15px 0 30px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: lighten($ink, 15);
}

.channels-list {
  line-height: 1;
}

.channel-item {
  @include clearfix;

  padding: 10px $gutter;
  border-bottom: 1px solid lighten($ink, 35);
  transition: all 0.4s;

  &:last-child {
    border-bottom: 0;
  }

  &.active {
    background: $brand;
    border-bottom: 1px solid $brand;
    box-shadow: 0 -1px 0 $brand;
    color: white;

    .current-program {
      color: white;
    }
  }
}

.channel-img {
  width: 98px;
  height: 56px;
  background: hsl(0, 0, 80);
  float: left;
}

.current-program,
.channel-name {
  display: block;
  padding-left: 110px;
  line-height: 1;
}

.current-program {
  color: $header;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
  transition: all 0.4s;
}

.channel-name {
  font-size: 15px;
}

// <div class="quote-btn-container">
//   <button class="quote-btn">quote this</button>
// </div>

.quote-btn-container {
  padding: $gutter;
  background-color: rgba($paper, 0.9);
  height: $quote-btn-height;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.quote-btn {
  width: 100%;
  text-transform: uppercase;
}
