//===============================================================================
// HEADER
//===============================================================================
// <header class="site-header">
//   <h1 class="site-logo"></h1>
// </header>

.site-header {
  width: 100%;
  background-color: $brand;
  padding: 32px $gutter;
  text-align: center;

  h1 {
    margin: 0;
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 86px;
    line-height: $header-height;
    text-indent: -15px;
  }
}

.logo {
  width: 280px;
  margin: -10px 0 -17px -25px;
}